@tailwind base;
@tailwind components;
@tailwind utilities;
/* הוסף לקובץ index.css */
body {
    margin: 0; /* מבטל רווחים חיצוניים */
    padding: 0; /* מבטל רווחים פנימיים */
    background: linear-gradient(to bottom, #4c51bf, #6b46c1); /* רקע אחיד */
    min-height: 100vh; /* מבטיח שהרקע יכסה לפחות את גובה המסך */
    font-family: 'Inter', sans-serif; /* פונטים מודרניים */
    color: white; /* צבע טקסט אחיד */
  }